--
-- PostgreSQL database dump
--

\restrict aGMMpbXPBceVrzH71En5thi2gMYjKi54uQ5dwQ9znEDaZjv0hxXH2r1HYnVN4hd

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: location; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.location (
    location_id integer NOT NULL,
    psgc_code character varying(20),
    region character varying(100) NOT NULL,
    province character varying(100) NOT NULL,
    municipality character varying(100) NOT NULL,
    barangay character varying(100) NOT NULL,
    latitude double precision,
    longitude double precision,
    elevation_m double precision,
    avg_temp_c double precision,
    annual_rainfall_mm double precision,
    soil_type character varying(100),
    soil_texture character varying(50),
    agro_ecological_zone character varying(50),
    coastal_exposure integer
);


ALTER TABLE public.location OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.location_location_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.location_location_id_seq OWNER TO postgres;

--
-- Name: location_location_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.location_location_id_seq OWNED BY public.location.location_id;


--
-- Name: monitoring_photo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monitoring_photo (
    photo_id integer NOT NULL,
    report_id integer NOT NULL,
    photo_url character varying(255) NOT NULL,
    date_time_taken timestamp without time zone,
    upload_time timestamp without time zone NOT NULL,
    inside_boundary boolean NOT NULL,
    plot_id integer,
    file_hash character varying(64),
    photo_type character varying(20) NOT NULL,
    latitude double precision,
    longitude double precision,
    distance_from_centroid_m double precision,
    flags character varying(300)
);


ALTER TABLE public.monitoring_photo OWNER TO postgres;

--
-- Name: monitoring_photo_photo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.monitoring_photo_photo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.monitoring_photo_photo_id_seq OWNER TO postgres;

--
-- Name: monitoring_photo_photo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.monitoring_photo_photo_id_seq OWNED BY public.monitoring_photo.photo_id;


--
-- Name: monitoring_plot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monitoring_plot (
    plot_id integer NOT NULL,
    report_id integer NOT NULL,
    plot_number integer NOT NULL,
    seedlings_alive integer NOT NULL,
    plot_notes character varying(300),
    latitude double precision,
    longitude double precision
);


ALTER TABLE public.monitoring_plot OWNER TO postgres;

--
-- Name: monitoring_plot_plot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.monitoring_plot_plot_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.monitoring_plot_plot_id_seq OWNER TO postgres;

--
-- Name: monitoring_plot_plot_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.monitoring_plot_plot_id_seq OWNED BY public.monitoring_plot.plot_id;


--
-- Name: monitoring_report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monitoring_report (
    report_id integer NOT NULL,
    record_id integer NOT NULL,
    user_id integer NOT NULL,
    monitoring_date date NOT NULL,
    survival_rate double precision NOT NULL,
    record_version integer NOT NULL,
    approval_status character varying(30) NOT NULL,
    site_id integer,
    plots_recorded integer,
    plot_size_sqm double precision,
    total_counted integer,
    mean_per_plot double precision,
    stdev_per_plot double precision,
    density_per_ha double precision,
    estimated_survivors integer,
    sampling_intensity double precision,
    captured_area_ha double precision,
    area_difference_pct double precision,
    boundary_geojson text,
    remarks text,
    review_note text,
    reviewed_by integer,
    date_reviewed timestamp without time zone,
    submitted_at timestamp without time zone NOT NULL
);


ALTER TABLE public.monitoring_report OWNER TO postgres;

--
-- Name: monitoring_report_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.monitoring_report_report_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.monitoring_report_report_id_seq OWNER TO postgres;

--
-- Name: monitoring_report_report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.monitoring_report_report_id_seq OWNED BY public.monitoring_report.report_id;


--
-- Name: notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification (
    notification_id integer NOT NULL,
    user_id integer NOT NULL,
    report_id integer,
    notification_type character varying(100) NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.notification OWNER TO postgres;

--
-- Name: notification_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.notification_notification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.notification_notification_id_seq OWNER TO postgres;

--
-- Name: notification_notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.notification_notification_id_seq OWNED BY public.notification.notification_id;


--
-- Name: organization; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organization (
    organization_id integer NOT NULL,
    organization_name character varying(150) NOT NULL,
    organization_type character varying(100) NOT NULL
);


ALTER TABLE public.organization OWNER TO postgres;

--
-- Name: organization_organization_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organization_organization_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organization_organization_id_seq OWNER TO postgres;

--
-- Name: organization_organization_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organization_organization_id_seq OWNED BY public.organization.organization_id;


--
-- Name: reforestation_record; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reforestation_record (
    record_id integer NOT NULL,
    site_id integer NOT NULL,
    tree_id integer NOT NULL,
    date_planted date NOT NULL,
    target_quantity integer NOT NULL,
    date_validated date,
    survival_rate double precision,
    actual_quantity_planted integer
);


ALTER TABLE public.reforestation_record OWNER TO postgres;

--
-- Name: reforestation_record_record_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.reforestation_record_record_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reforestation_record_record_id_seq OWNER TO postgres;

--
-- Name: reforestation_record_record_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.reforestation_record_record_id_seq OWNED BY public.reforestation_record.record_id;


--
-- Name: request; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.request (
    request_id integer NOT NULL,
    user_id integer NOT NULL,
    request_type character varying(100) NOT NULL,
    description text,
    status character varying(30) NOT NULL,
    location_id integer,
    proposed_area_ha double precision,
    contact_number character varying(30),
    date_submitted timestamp without time zone NOT NULL,
    date_reviewed timestamp without time zone,
    reviewed_by integer,
    review_note text
);


ALTER TABLE public.request OWNER TO postgres;

--
-- Name: request_request_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.request_request_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.request_request_id_seq OWNER TO postgres;

--
-- Name: request_request_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.request_request_id_seq OWNED BY public.request.request_id;


--
-- Name: site; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.site (
    site_id integer NOT NULL,
    location_id integer NOT NULL,
    organization_id integer NOT NULL,
    site_name character varying(150) NOT NULL,
    area_size_ha double precision NOT NULL,
    date_established date NOT NULL,
    site_status character varying(50) NOT NULL,
    climate_zone character varying(100),
    soil_type character varying(100),
    site_code character varying(50),
    zone_type character varying(50),
    loa_contract_code character varying(50),
    year_contracted integer,
    area_contracted_ha double precision,
    date_contract_executed date,
    date_contract_expiry date,
    project_cost_3yr numeric(12,2),
    retention_fee_amount_paid numeric(12,2),
    retention_fee_date_paid date,
    amount_under_land_improvement numeric(12,2),
    amount_still_in_cip numeric(12,2),
    penro character varying(100),
    cenro character varying(100),
    congressional_district character varying(20),
    land_classification character varying(50),
    major_land_use character varying(200),
    contact_person character varying(120),
    component character varying(100),
    commodity character varying(200),
    boundary_geojson text,
    boundary_area_ha double precision,
    boundary_captured_at timestamp without time zone
);


ALTER TABLE public.site OWNER TO postgres;

--
-- Name: site_site_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.site_site_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.site_site_id_seq OWNER TO postgres;

--
-- Name: site_site_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.site_site_id_seq OWNED BY public.site.site_id;


--
-- Name: tree_specie; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tree_specie (
    tree_id integer NOT NULL,
    specie_name character varying(100) NOT NULL,
    scientific_name character varying(150),
    native_to character varying(100),
    min_rainfall_mm double precision,
    max_rainfall_mm double precision,
    min_elevation_m double precision,
    max_elevation_m double precision,
    min_temp_c double precision,
    max_temp_c double precision,
    preferred_soil character varying(200),
    source character varying(300),
    is_reference boolean DEFAULT false NOT NULL,
    salinity_requirement integer
);


ALTER TABLE public.tree_specie OWNER TO postgres;

--
-- Name: tree_specie_tree_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tree_specie_tree_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tree_specie_tree_id_seq OWNER TO postgres;

--
-- Name: tree_specie_tree_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tree_specie_tree_id_seq OWNED BY public.tree_specie.tree_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    organization_id integer,
    username character varying(80) NOT NULL,
    email_address character varying(120) NOT NULL,
    password_hash character varying(200) NOT NULL,
    role character varying(20) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'field_officer'::character varying, 'normal_user'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: location location_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location ALTER COLUMN location_id SET DEFAULT nextval('public.location_location_id_seq'::regclass);


--
-- Name: monitoring_photo photo_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_photo ALTER COLUMN photo_id SET DEFAULT nextval('public.monitoring_photo_photo_id_seq'::regclass);


--
-- Name: monitoring_plot plot_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_plot ALTER COLUMN plot_id SET DEFAULT nextval('public.monitoring_plot_plot_id_seq'::regclass);


--
-- Name: monitoring_report report_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report ALTER COLUMN report_id SET DEFAULT nextval('public.monitoring_report_report_id_seq'::regclass);


--
-- Name: notification notification_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification ALTER COLUMN notification_id SET DEFAULT nextval('public.notification_notification_id_seq'::regclass);


--
-- Name: organization organization_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization ALTER COLUMN organization_id SET DEFAULT nextval('public.organization_organization_id_seq'::regclass);


--
-- Name: reforestation_record record_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reforestation_record ALTER COLUMN record_id SET DEFAULT nextval('public.reforestation_record_record_id_seq'::regclass);


--
-- Name: request request_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.request ALTER COLUMN request_id SET DEFAULT nextval('public.request_request_id_seq'::regclass);


--
-- Name: site site_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site ALTER COLUMN site_id SET DEFAULT nextval('public.site_site_id_seq'::regclass);


--
-- Name: tree_specie tree_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tree_specie ALTER COLUMN tree_id SET DEFAULT nextval('public.tree_specie_tree_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
79a7f9dce1f9
\.


--
-- Data for Name: location; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: monitoring_photo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: monitoring_plot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: monitoring_report; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organization; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reforestation_record; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: request; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: site; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: tree_specie; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: location_location_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.location_location_id_seq', 657, true);


--
-- Name: monitoring_photo_photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.monitoring_photo_photo_id_seq', 9, true);


--
-- Name: monitoring_plot_plot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.monitoring_plot_plot_id_seq', 24, true);


--
-- Name: monitoring_report_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.monitoring_report_report_id_seq', 5, true);


--
-- Name: notification_notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notification_notification_id_seq', 17, true);


--
-- Name: organization_organization_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organization_organization_id_seq', 224, true);


--
-- Name: reforestation_record_record_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.reforestation_record_record_id_seq', 73, true);


--
-- Name: request_request_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.request_request_id_seq', 6, true);


--
-- Name: site_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.site_site_id_seq', 73, true);


--
-- Name: tree_specie_tree_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tree_specie_tree_id_seq', 71, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 4, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: location location_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_pkey PRIMARY KEY (location_id);


--
-- Name: location location_psgc_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.location
    ADD CONSTRAINT location_psgc_code_key UNIQUE (psgc_code);


--
-- Name: monitoring_photo monitoring_photo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_photo
    ADD CONSTRAINT monitoring_photo_pkey PRIMARY KEY (photo_id);


--
-- Name: monitoring_plot monitoring_plot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_plot
    ADD CONSTRAINT monitoring_plot_pkey PRIMARY KEY (plot_id);


--
-- Name: monitoring_report monitoring_report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report
    ADD CONSTRAINT monitoring_report_pkey PRIMARY KEY (report_id);


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY (notification_id);


--
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (organization_id);


--
-- Name: reforestation_record reforestation_record_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reforestation_record
    ADD CONSTRAINT reforestation_record_pkey PRIMARY KEY (record_id);


--
-- Name: request request_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.request
    ADD CONSTRAINT request_pkey PRIMARY KEY (request_id);


--
-- Name: site site_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site
    ADD CONSTRAINT site_pkey PRIMARY KEY (site_id);


--
-- Name: site site_site_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site
    ADD CONSTRAINT site_site_code_key UNIQUE (site_code);


--
-- Name: tree_specie tree_specie_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tree_specie
    ADD CONSTRAINT tree_specie_pkey PRIMARY KEY (tree_id);


--
-- Name: users users_email_address_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_address_key UNIQUE (email_address);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: monitoring_photo monitoring_photo_plot_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_photo
    ADD CONSTRAINT monitoring_photo_plot_id_fkey FOREIGN KEY (plot_id) REFERENCES public.monitoring_plot(plot_id);


--
-- Name: monitoring_photo monitoring_photo_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_photo
    ADD CONSTRAINT monitoring_photo_report_id_fkey FOREIGN KEY (report_id) REFERENCES public.monitoring_report(report_id);


--
-- Name: monitoring_plot monitoring_plot_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_plot
    ADD CONSTRAINT monitoring_plot_report_id_fkey FOREIGN KEY (report_id) REFERENCES public.monitoring_report(report_id);


--
-- Name: monitoring_report monitoring_report_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report
    ADD CONSTRAINT monitoring_report_record_id_fkey FOREIGN KEY (record_id) REFERENCES public.reforestation_record(record_id);


--
-- Name: monitoring_report monitoring_report_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report
    ADD CONSTRAINT monitoring_report_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(user_id);


--
-- Name: monitoring_report monitoring_report_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report
    ADD CONSTRAINT monitoring_report_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.site(site_id);


--
-- Name: monitoring_report monitoring_report_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monitoring_report
    ADD CONSTRAINT monitoring_report_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: notification notification_report_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_report_id_fkey FOREIGN KEY (report_id) REFERENCES public.monitoring_report(report_id);


--
-- Name: notification notification_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: reforestation_record reforestation_record_site_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reforestation_record
    ADD CONSTRAINT reforestation_record_site_id_fkey FOREIGN KEY (site_id) REFERENCES public.site(site_id);


--
-- Name: reforestation_record reforestation_record_tree_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reforestation_record
    ADD CONSTRAINT reforestation_record_tree_id_fkey FOREIGN KEY (tree_id) REFERENCES public.tree_specie(tree_id);


--
-- Name: request request_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.request
    ADD CONSTRAINT request_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(location_id);


--
-- Name: request request_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.request
    ADD CONSTRAINT request_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.users(user_id);


--
-- Name: request request_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.request
    ADD CONSTRAINT request_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: site site_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site
    ADD CONSTRAINT site_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.location(location_id);


--
-- Name: site site_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.site
    ADD CONSTRAINT site_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organization(organization_id);


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organization(organization_id);


--
-- PostgreSQL database dump complete
--

\unrestrict aGMMpbXPBceVrzH71En5thi2gMYjKi54uQ5dwQ9znEDaZjv0hxXH2r1HYnVN4hd

